  
<script src="js/main.min.js"></script>

<footer class="footer">
	<div class="footer-top">
		<div class="container-page">
			<a href="" class="logo" alt="">
				<img src="img/logo-white.png">
			</a>
			<ul class="menu">
				<li class="menu-item">
					<a href="#">Все новости </a> 
				</li>
				<li class="menu-item">
					<a href="#">Все банки </a> 
				</li>
				<li class="menu-item">
					<a href="#">МФО </a> 
				</li>
				<li class="menu-item">
					<a href="#">Карты</a> 
				</li>
				<li class="menu-item">
					<a href="#">Кредиты	 </a> 
				</li>
			</ul>
		</div>
	</div>
	<div class="footer-copyright">
		<div>© 2000–2020 Номинал, ЕГРПОУ 22929966.</div> 
		<div>Адрес: Проспект Степана Бандеры, 13в, Киев, Украина</div>
	</div>
</footer>

