<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">

<meta name="theme-color" content="#fff">
<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">

<link rel="stylesheet" href="css/main.min.css">

<header class="header">
	<div class="header-top">
		<div class="container-page">
			<div class="header-top__contacts">
				<a href="" class="tel"> 
					0 800 456 786 
				</a>
				<a href="" class="mail">
					support-nominal@.com.ua 
				</a>
			</div>
			<div class="header-top__right">
				<div class="today">
					<span class="day">Сегодня: </span><span class="city"> Киев </span> <span class="temp">  +7°С </span>
				</div>
				<div class="other-info">
					<div class="search">
						Поиск
					</div>
					<div class="lang">
						<div class="active-lang item-lang ru">
							Ru
						</div>
						<div class="submenu-lang hidden">
							<div class ="item-lang ua"> Ua</div>
							<div class ="item-lang en"> En</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="header-botom">
		<div class="container-page">
			<a href="#" class="logo">
				<img src="img/logo.png">
			</a>
			<div class="row">
				<div class="search-mob">
				</div>
				<ul class="menu">
					<li class="menu-item">
						<a href="#">Все новости </a> 
					</li>
					<li class="menu-item">
						<a href="#">Все банки </a> 
					</li>
					<li class="menu-item">
						<a href="#">МФО </a> 
					</li>
					<li class="menu-item">
						<a href="#">Карты</a> 
					</li>
					<li class="menu-item">
						<a href="#">Кредиты	 </a> 
					</li>
				</ul>
				<div class="menu-mob">
					<div class="line"></div>
					<div class="line"></div>
					<div class="line"></div>
				</div>
			</div>
		</div>
	</div>	
</header>