@font-face {
  font-family: Stolzl-Regular;
  src: url('../fonts/Stolzl/Stolzl-Regular.eot');
  src: url('../fonts/Stolzl/Stolzl-Regular.woff2') format('woff2'), 
    url('../fonts/Stolzl/Stolzl-Regular.woff') format('woff'),
    url('../fonts/Stolzl/Stolzl-Regular.ttf') format('truetype');
}
@font-face {
  font-family: Stolzl-Book;
  src: url('../fonts/Stolzl/Stolzl-Book.eot');
  src: url('../fonts/Stolzl/Stolzl-Book.woff2') format('woff2'), 
    url('../fonts/Stolzl/Stolzl-Book.woff') format('woff'),
    url('../fonts/Stolzl/Stolzl-Book.ttf') format('truetype');
}
@font-face {
  font-family: Stolzl-Bold;
  src: url('../fonts/Stolzl/Stolzl-Bold.eot');
  src: url('../fonts/Stolzl/Stolzl-Bold.woff2') format('woff2'), 
    url('../fonts/Stolzl/Stolzl-Bold.woff') format('woff'),
    url('../fonts/Stolzl/Stolzl-Bold.ttf') format('truetype');
}